name: 'PR Validation POC - Auto Triggered'

on:
  pull_request:
    types: [opened, synchronize, reopened, created, edited]
    branches:
      - main
  
  workflow_dispatch:
  

jobs:
  Testing_only:
    name: 'For testing purposes only'
    runs-on: ubuntu-latest
    if: github.event.pull_request.base.ref == 'main'
        
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Sleep for 5mins
        uses: juliangruber/sleep-action@v1
        with:
        time: 300s
       
      - name: Fail build
        run: exit 1
            
